body { 
	color: #222222;
}

header {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 96px;
	background: transparent url('../img/bg-header.png') no-repeat 50% 0; min-width: 1170px;
	text-align: center;
}

header ul {
	list-style-type: none;
	margin: 0 0 0 0;
}

header li {
	display: inline;
	color: #222222;
	line-height: 84px;
	margin: 0 20px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
}

header li a:link, header li a:visited, header li a:active {
	color: #333333;
	text-decoration: none;
}

header li a:hover {
	color: #000000;
	text-decoration: none;
	border-bottom: 3px solid #000000;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}


/* ABOUT */
.intro-lead-in {
	background: #121212;
	color: #e2e2e2;
	padding-bottom: 50px;
}

.mission p {
	text-align: center;
	font-size: 16px;
	line-height: 25px;
	font-weight: 400;
	font-style: normal;
	padding: 0 30px;
	color: #e4e4e4;
}

#company h1 { 
	font-size: 28px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 30px;
	letter-spacing: 4px;
}

#wines {
	background-color: #1b1b1b;
}

#wines .description{
	color: #e4e4e4;
	padding: 100px 60px;
}

#contact {
	background: #333333;
	color: #e4e4e4; 
	padding: 20px 90px 30px 90px;
	margin-bottom: 60px;
}

.blueberry-quote {
	background: #222222 url(../img/blueberry.jpg) top center;
	min-height: 448px;
	text-align: center;
	color: #ffffff;
	margin-bottom: -10px;
}

.quote-on-image p {
	padding: 0 200px;
	text-align: center;
	font-size: 34px;
	line-height: 44px;
	font-style: normal;
	text-transform: uppercase;
	font-weight: 500;
}

.text-block {
	padding: 100px 0px; 
	/*background-color: #fbfbff;*/
}

.buy-btn {
	border: 1px solid white;
	padding: 6px 24px;
	font-weight: bold;
}

/* Bootstrap Overrides */
.container {
  padding-right: 0px;
  padding-left: 0px;
  *zoom: 1;
}
